version: 1
services:
  - type: web
    name: NotKarBot
    runtime: python
    region: oregon  
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: GOOGLE_CREDS_JSON
        sync: false
      - key: PORT
        value: 10000
      - key: PYTHON_VERSION
        value: 3.12.8
    healthCheckPath: /health
    autoDeploy: true